


* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

.pic {
  float: center;
  height: 100px;
  width: 100px;
  margin: 10px;
  text-align: center;
  
}

/*MORPH*/
.morph {

  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.morph:hover {

  border-radius: 50%;
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
       -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

body {background-image: url(bg.jpg);
	background-repeat: repeat;
	font-family: "Teko", sans-serif;
	letter-spacing: 2px;}
	
div.content {
	margin-left: 200px;
}

div.side{
	position: fixed;
	height: 100%;
	top:0;
	left:0;
	width:180px;
	padding: 10px;
}

.header img {
  float: left;
  width: 100px;
  height: 100px;
}

.header h1 {
  position: relative;
  text-align: center;
  font-size: 100px;
  font-weight: 400;
  color: rgb(50,50,50);
}
	
h2 {text-align: center;
	font-size: 30px;
	font-weight: 300;
	color: purple;}

ul {
    margin: 0;
    padding: 0;
}

li {display: inline;
	margin-left: 50px;
	margin-right: 50px;}
	
.logo {display: block;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 100px;}
	
a { text-decoration : none; 
	color : black; 
	width: 5px;
	height: 5px;}
	
